.error-msg {
    color: #f50;
    padding-left: 10px;
}

.am-tab-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.fixd-header .am-nav-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.page-content {
    padding: 45px 5px;
}

.am-wingblank {
    margin: 0 !important;
}

.am-button {
    z-index: 1 !important;
}

.am-card {
    z-index: 1 !important;
}

#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

.stick-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}